spring:
  datasource:
    url: jdbc:postgresql://${database.endpoint:localhost:5432}/${database.name:postgres}?currentSchema=${database.schema.name:strengthsbasedneedsapi}&stringtype=unspecified
    username: ${database.username:root}
    password: ${database.password:dev}
    hikari:
      maximum-pool-size: 20
      connection-timeout: 15000
      leakDetectionThreshold: 20000
  flyway:
    schemas: strengthsbasedneedsapi
    locations: classpath:/db/migration
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: false
  h2:
    console:
      enabled: false
